body{
    color: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: teal;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}




#main-header{
	background-color: teal;
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-family: 'Boogaloo', cursive;
}


#navbar{
  height: 60px;
  width: 100%;
  background-color: #333;
  margin-bottom: 0;
}

#navbar ul{ 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar li{
  float: left;
  margin-left: 180px;
}

#navbar li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 80px 14px 80px;;
  position: center;
  
  text-decoration: none;
}

#navbar a:hover{
  background-color: white;
  color: teal;
    
}


#navbar a{
    color: teal;
    font-family: 'Luckiest Guy', cursive;
  	text-decoration: none;
	font-size: 32px;
	padding-right: 15px;
}

  

.center{
    text-align: center;
    margin:auto;
}

#about{
    background-color: white;
    color: #333;
    margin-top:0;
    padding: 0;
    height: 755px;
    width: 100%;  
}

#about h2{
  font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 64px;
    padding-top: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.grid-2{
    padding-top:2%;
    margin-top:0;
    display: grid;
    position: center;
    grid-gap: 0px;
    grid-template-columns: repeat(2 , 1fr);
    position: fixed;
}

.grid-2 p{
    margin-right: 200px;
    font-size: 48px;
    font-family: 'Luckiest Guy', cursive;
}




footer{
    position: fixed;
    height: 50px;
    background-color: teal;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    margin-bottom: 0px;
}