body{
    color: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}


#main-header{
	background-color: teal;
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-family: 'Luckiest Guy', cursive;
}

#navbar{
  height: 60px;
  width: 100%;
  background-color: #333;
  margin-bottom: 0;
}

#navbar ul{ 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar li{
  float: left;
  margin-left: 150px;
}

#navbar li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 80px 14px 80px;;
  position: center;
  
  text-decoration: none;
}

#navbar a:hover{
  background-color: white;
  color: teal;
    
}


#navbar a{
    color: teal;
    font-family: 'Luckiest Guy', cursive;
  	text-decoration: none;
	font-size: 32px;
	padding-right: 15px;
}

#map {
    float: left;
    margin:100px 0px 0px 0px;
    height: 70%;
    width: 55%;
        
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  
  width: 345px;
}
     

#sidebar{
    margin-top: 100px;
	  float: right;
    width: 40%;
    height: 70%;
    border-left-color:teal;
    border-left-width: 10px;
    border-left-style: solid;
    border-right-color:teal;
    border-right-width: 10px;
    border-right-style: solid;
	  color: teal;
    padding: 10px;
    margin-right: 40px;
	  box-sizing: border-box;
    
}



#sidebar h1{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 5vh;
}

#sidebar li{
    list-style: upper-alpha;
    font-size: 30px;
    
}

#sidebar li a{
    font-family: 'Boogaloo', cursive;
    color:teal;
    font-style: none;
    text-decoration: none;
}

#sidebar li a:hover{
    color:black;
}

#sidebar p{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
}

footer{
    position: bottom;
    height: 50px;
    background-color: Teal;
    bottom: 0px;
    margin-top: 47%;
    left: 0px;
    right: 0px;
    text-align: center;
    margin-bottom: 0px;
    }

    footer p{
      padding-top: 10px;
      background-color: teal;
    }



@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.8em;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */
