body{
  color: white;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: teal;
}

.container {
padding: auto;
width: 80%;
margin: auto;
overflow: hidden;
/*margin-top: 100px;*/
}





#main-header{
background-color: teal;
  color: #fff;
  padding-top: 30px;
  text-align: center;
  font-size: 32px;
  font-family: 'Luckiest Guy', cursive;
}


#navbar{
height: 60px;
width: 100%;
background-color: #333;
margin-bottom: 0;
}

#navbar ul{ 
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

#navbar li{
float: left;
margin-left: 100px;
}

#navbar li a{
display: inline-block;
color: white;
text-align: center;
padding: 14px 80px 14px 80px;;
position: center;
text-decoration: none;
}

#navbar a:hover{
background-color: white;
color: teal;
  
}


#navbar a{
  color: teal;
  font-family: 'Luckiest Guy', cursive;
  text-decoration: none;
font-size: 32px;
padding-right: 15px;
}


