body{
    background: rgba(0, 0, 0, 0.9);
    color: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}


#main-header{
	background-color: coral;
    color: #fff;
    text-align: center;
    font-size: 32px;
}

#navbar{
	background-color: #333;
	color:red;
}

#navbar ul{
    background-color: #333;
	padding: 0;
	list-style: none;
}

#navbar li{
    display: inline;
    padding: 100px;
    margin: 0;
}

#navbar ul li:hover{
    background-color: coral;
}

#navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

footer{
    position: fixed;
    height: 50px;
    background-color: coral;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    margin-bottom: 0px;
    
}